// Placeholder to allow overriding predefined variables smoothly.

$brand-color:           #2aa198;

$site-title-color:      #04add7;

$link-base-color:       #04add7;
$link-visited-color:    #04add7;
$link-hover-color:      #23d3ff;

$text-color: 			#c9c9c9;
