// Placeholder to allow overriding predefined variables smoothly.

$brand-color:           #e7562c;

$site-title-color:      #e7562c;

$link-base-color:       #04add7;
$link-visited-color:    #04add7;
$link-hover-color:      #23d3ff;
