// Placeholder to allow overriding predefined variables smoothly.

$brand-color:           #924703;

$site-title-color:      #924703;

$link-base-color:       #006882;
$link-visited-color:    #0D6B82;
$link-hover-color:      #823E00;
