// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

a:hover {
	text-decoration: none;
}


a.post-meta {
	color: #2aa198;
	display: block;
}
div.post-grid-content {
	width: 45%;
    display: inline-block;
    margin: 0 5px;
    padding: 0 2px;

    transition: .5s ease;

    & img:hover {
    	opacity: 0.3;
    }
}

div.post-grid-content:hover {
	box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #04add7, 0 0 0.8rem #04add7, 0 0 2.8rem #04add7, inset 0 0 1.3rem #04add7;
}

// SITE TITLE

.site-title {
  font-size: 2.6em;
}

.flicker {
  animation: flicker 1.5s infinite alternate;
}

/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #04add7,
      0 0 11px #04add7,
      0 0 19px #04add7,
      0 0 40px #04add7,
      0 0 80px #04add7,
      0 0 90px #04add7,
      0 0 100px #fff,
      0 0 150px #fff;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}


// FOOTER

.site-description {
  color: #c9c9c9;
}
.contact-list {
  margin-bottom: 0;
}
.social-media-list {
  display: block;
  margin: 0;

  > li {
    float: none;
    display: block;

    > a {
      border: none;
      padding: 0;

      > svg {
        padding-left: 0;
      }
    }
  }
}



@media screen and (max-width: $on-palm) {
	
	div.post-grid-content {
		width: 100%;
	    display: block;
	    margin: auto;
	}
}